name: Windows build and Package

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        os:
          - 'windows-2022'
          - 'windows-2025'
        configuration:
          - 'Debug'
          - 'Release'
          - 'Debug-MT'
          - 'Release-MT'
          - 'Debug-Hotplug'
          - 'Release-Hotplug'
          - 'Debug-Hotplug-MT'
          - 'Release-Hotplug-MT'
        architecture:
          - 'Win32'
          - 'x64'
          - 'ARM64'

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1.3

      - name: Build solution
        run: |
          msbuild msvc/libusb.sln /m ^
            -property:Configuration=${{ matrix.configuration }} ^
            -property:Platform=${{ matrix.architecture }}

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          # czytelna nazwa per kombinacja matrix
          name: libusb-${{ matrix.os }}-${{ matrix.architecture }}-${{ matrix.configuration }}
          # katalog z wynikami kompilacji dla danej platformy/konfiguracji
          path: build/v143/${{ matrix.architecture }}/${{ matrix.configuration }}
          if-no-files-found: error
